
.button{
  background: var(--primary);
  color:var(--white);
  font: var(--button);
  padding-inline:1.5rem;
  padding-block: 0.8rem;
  border-radius: 4px;
  text-transform: uppercase;
  border:none;
  text-decoration: none;
  text-align: center;
}

.button.is-secondary{
  background: unset;
  border: 1px solid var(--primary);
  color:var(--primary);
}

.button-icon{
 padding: 10px;
 border-radius: 4px;
 border: 2px solid var(--primary);
 background: var(--white);
 text-decoration: none;
 display: inline-block;
}

.button-icon img{
  vertical-align: middle;
}