.client{
  display: flex;
  flex-direction: column;
 background: var(--gradientclient);
 border-radius:24px;
 text-align: start;
 margin-block-end: 80px;

}

.clientPic{
 text-align: center;
 padding-block-start: 40px;
}

.clientReview{
 padding-inline-start:20px;
}

#clientOpinion{
  font: var(--body1);
  font-weight: bold;
}

#clientName{
  font: var(--caption);
  text-align: center;
}


@media screen and (min-width:768px) {
  .client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-inline-start: 10rem; */
    max-inline-size: ;
    text-align: center;

  }
}

